# 1. Find the mean of old scheme and new scheme column. (5 points)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
ti = pd.read_excel('Titan.xlsx')
ti.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [37]:
ti.columns

Index(['SALESPERSON', 'Old Scheme (in thousands)',
       'New Scheme (in thousands)'],
      dtype='object')

In [38]:
ti.dtypes

SALESPERSON                  int64
Old Scheme (in thousands)    int64
New Scheme (in thousands)    int64
dtype: object

In [39]:
ti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
SALESPERSON                  30 non-null int64
Old Scheme (in thousands)    30 non-null int64
New Scheme (in thousands)    30 non-null int64
dtypes: int64(3)
memory usage: 800.0 bytes

In [40]:
ti.describe()

       SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
count    30.000000                  30.000000                  30.000000
mean     15.500000                  68.033333                  72.033333
std       8.803408                  20.455980                  24.062395
min       1.000000                  28.000000                  32.000000
25%       8.250000                  54.000000                  55.000000
50%      15.500000                  67.000000                  74.000000
75%      22.750000                  81.500000                  85.750000
max      30.000000                 110.000000                 122.000000

In [41]:
print("Mean of Old scheme:" ,ti["Old Scheme (in thousands)"].mean())

Mean of Old scheme: 68.03333333333333

In [42]:
print("Mean of New scheme:" ,ti["New Scheme (in thousands)"].mean())

Mean of New scheme: 72.03333333333333

# 2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)

In [91]:
ti = ti.rename(columns={'Old Scheme (in thousands)': 'OldScheme', 'New Scheme (in thousands)': 'NewScheme'})
ti.head()

   SALESPERSON  OldScheme  NewScheme
0            1         57         62
1            2        103        122
2            3         59         54
3            4         75         82
4            5         84         84

In [ ]:
# Null Hypothesis : There is no significant difference between outputs of old scheme and new scheme
# Alternate Hypothesis : There is a significant difference/ New Scheme has significantly raised outputs

In [92]:
Old = ti.OldScheme
New = ti.NewScheme

In [93]:
from scipy.stats import ttest_1samp,ttest_ind,wilcoxon,levene
t_statistic, p_value = ttest_ind(Old , New)
print("t stat value:",t_statistic)
print("p value :",p_value)

t stat value: -0.6937067608923764
p value : 0.49063515686248105

# 3. What conclusion does the test (p-value) lead to? (2.5 points)

In [ ]:
# p_value > 0.05 , thus we cannot reject null hypothesis.
# Accepting Null hypothesis
# There is no significant difference between outputs of old scheme and new scheme

In [ ]:
# We can conclude that output raised by Old scheme and New scheme are equal.
# OR 
# There is no difference between ouputs raised by Old sheme and New scheme.

# 4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

In [ ]:
# Null Hypothesis : The average output raised by Old scheme and New scheme are equal.
# Alternate Hypothesis : The average output must increase by £5000 compared to old scheme.

# a) The probability of a type 1 error? (2.5 points)

In [ ]:
# Probability of type 1 error is 0.05 or 5%

# b) What is the p- value of the hypothesis test if we test for a difference of $5000?   (10 points)

In [75]:
T = ti.std()
T

SALESPERSON     8.803408
OldScheme      20.455980
NewScheme      24.062395
dtype: float64

In [102]:
from scipy import stats 
old= stats.norm.rvs(scale=20, loc=68, size=30) ## Creates a normal distribution with a mean value of 1000 and std of 30
#new = old + stats.norm.rvs(scale=24, loc=-73, size=30)
new = stats.norm.rvs(scale=24, loc=73, size=30) - old

In [104]:
stats.ttest_rel(new, old)

Ttest_relResult(statistic=-5.837851289144862, pvalue=2.4873865196478633e-06)

In [94]:
Old = ti.OldScheme
New = ti.NewScheme

In [95]:
t_statistic, p_value = ttest_ind(Old, New)
print(t_statistic,p_value)                ## p value is 0.49

-0.6937067608923764 0.49063515686248105

 # c) Power of the test (5 points)

In [60]:
ti.columns

Index(['SALESPERSON', 'OldScheme', 'NewScheme'], dtype='object')

In [99]:
#Z=(sample mean - population mean)/std for NewScheme
from statsmodels.stats.power import ttest_power

Zstats =(5)/np.std(ti['NewScheme']) 
ttest_power(Zstats,nobs=len(np.array(ti['NewScheme']))-1,alpha=0.05,alternative='larger')

0.29660245254588957

In [98]:
 Zstats =(5)/np.std(ti['OldScheme'])
ttest_power(Zstats,nobs=len(np.array(ti['OldScheme']))-1,alpha=0.05,alternative='larger')

0.36751201662299127